*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
  height:100%;
  scroll-behavior: smooth;
}

body{
  background-color: $color1;
  color: $dark-grey;
  font-family: $fontLato;
  h1,h2{
    font-family: $fontLato;
  }
  margin: 0 auto;
  height:100%;
  display: flex;
   flex-direction: column;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  a:hover{
    text-decoration: none;
  }
}


main section{
  padding: rem(30);
}
textarea{
   font-family: $fontLato;
}
