*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  a:hover{
    text-decoration: none;
  }
}

body{
  background-color: $color1;
  color: $dark-grey;
  font-family: $fontLato;
  h1,h2{
    font-family: $fontLato;
  }
  margin: 0;
}

main section{
  padding: rem(30);
}
textarea{
   font-family: $fontLato;
}
