/**
 * Basic typography style for copy text
 */
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

 h5 {
     font-size: 23px;
     font-weight: 700;
     padding: 32px 0;
 }

h6 {
   font-size: 20px;
   font-weight: 700;
   padding: 24px 0;
}

.h3{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0;
}

.h3--white{
  color: $white;
}
