#adminbar{

  width: 15%;
  background-color: $color2;
    border: 1px solid $color4;

    @include max-tablet{
      display: none;
    }
}

.list-admin-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;

}


.list-item{
  text-align: center;
  color: $color4;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 18px;

  margin-bottom: 12px;
  padding: 5px;
}

.active{
  background-color: $color1;
  color: $color4;
}

.link{
  margin-top: 2px;
  margin-bottom: 2px;
  &:hover{
    background-color: $color1;
    color: $color4;

  }
}
