#adminbar{

  width: 15%;
  background-color: $color2;
    border: 1px solid $color4;

    @include max-tablet{
      position: fixed;
  		display: none;
  		overflow-y: auto;
  		z-index: -1;
  		left: 0;
      top: 0;
  		width: 100%;
  		height: 100%;
  		background: #fff;
  		box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
    }
}

.list-admin-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;

}


.list-item{
  text-align: center;
  color: $color4;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 18px;

  margin-bottom: 12px;
  padding: 5px;
}

.active{
  background-color: $color1;
  color: $color4;
}

.link{
  margin-top: 2px;
  margin-bottom: 2px;
  &:hover{
    background-color: $color1;
    color: $color4;

  }
}

.menu-btn {
	cursor: pointer;
}

.hidden, .menu-btn {
	display: none;
}

.menu-btn {
  display: none;
  position: absolute;
  margin: 0;
  width: 25px;
  height: 15px;
  cursor: pointer;
  z-index: 2;
  border-radius: 10px;
  top: 2em;
  left: 2em;
  @include max-tablet{
    display: block;
  }
}
.menu-btn .menu {
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background: $color2;
	}

	.menu-btn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
    background: $color4;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
    background: $color4;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
    background: $color4;
	}

  #menuToggle:checked ~ #adminbar {
		z-index: 1;
		display: block;
		animation: menu-slide-left 0.3s ease;
	}

  @keyframes menu-slide-left {
		0% {
			transform: translateX(-200px);
		}
		to {
			transform: translateX(0);
		}
	}
