

.section-description {
    font-family: $fontLato;
    margin-bottom: 0;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}

.section-description--header {
  color: $white;
}
.section-description--about {
    color: $white;
}
.section-description--about {
    color: #8c9597;
    background-color: $white;
}

.section-description--approach{
  color: $color4;
}


.section-description--blog{
  color: $white;
}
