// Colors

$white: #FFFFFF;
$light-grey: #F2F2F2;
$dark-grey: #444;
$green:  green;
$red: red;
$color1: #f9f8eb;
$color2: #a7d7c5;
$color3: #74b49b;
$color4: #5c8d89;

// Screen
$large-container-width: 1170px;
$medium-container-width: 970px;
$small-container-width: 750px;

// Breakpoints

$small: 768px;
$medium: 992px;
$large: 1200px;

// Grid

$columns: 12;
$columnsOff: 11;
