#header-back{
  width: 100%;
  background-color: $color4;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 10vh;
  color: $white;
  justify-content: space-between;
  & .row{
    margin: 0 auto;
  }
  & h1{
    text-align: center;
  }
}

.logo-back{
  margin: 3px 28px;
}

#content-back{
  width: 100%;

}

#avatar-back{
  height: 80%;
  width: 80%;
  background: $white;
  @include max-tablet{
    height: 80%;
    width: 100%;
  }
  @include max-mobile{
    height: 100%;
  }
  flex-direction: column;
}

.admin-name{
  color: $color1;
  font-weight: bold;
  font-size: 15px;
}

#content-back .titre{
  color: $color3;
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  & h2{
    margin-right: 20px;
  }
}

.bloc-tab{
  background-color: #fcfcfc;
  margin-bottom: 15px;
  & h3{
    background-color: #d6d6d6;
    color: #5c8d89;
    padding: 10px;
    font-size: 19px;
  }
}

.acces-rapide{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & a{
    text-decoration: none;
    cursor: pointer;
    color: #5c8d89;
    padding-left: 25px;
    font-size: 18px;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}

.table-head{
  background-color: rgba( 0, 0, 0, .1 );
  height: 50px;
}
