#header-back{
  width: 100%;
  background-color: $color4;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 10vh;
  color: $white;
  justify-content: space-between;
  & .row{
    margin: 0 auto;
  }
  & h1{
    text-align: center;
  }
}

.part-1-header-back{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.part-2-header-back{

    display: flex;
    align-items: center;
    justify-content: center;

}
.part-3-header-back{
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.logo-back{
  margin: 3px 28px;
}

.container-back{
  display: flex;
  flex-direction: row;
  min-height: 90vh;
}


#adminbar{

  width: 15%;
  background-color: $color2;
    border: 1px solid $color4;

    @include max-tablet{
      display: none;
    }
}

#content-back{
  width: 100%;

}

#avatar-back{
  height: 80%;
  width: 80%;
  background: $white;
  @include max-tablet{
    height: 80%;
    width: 100%;
  }
  @include max-mobile{
    height: 100%;
  }
  flex-direction: column;

}

.list-admin-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;

}


.list-item{
  text-align: center;
  color: $color4;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  &:hover{
    background-color: $color1;
    color: $color4;

  }
  margin-bottom: 12px;
  padding: 5px;
}

.active{
  background-color: $color1;
  color: $color4;
}
.admin-name{
  color: $color1;
  font-weight: bold;
  font-size: 15px;
}




#content-back .titre{
  color: $color3;
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  & h2{
    margin-right: 20px;
  }
}


.fields-input-back{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fields-input-back label{
  margin-bottom: 20px;
}
.fields-input-back .form-text {
    width: 100%;
    height: 35px;
    background-color: #fcfcfc;
    padding: 0 20px;
    border: 1px solid #e1e1e1;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #5c8d89;
    display: block;
    font-weight: 400;
    line-height: 25px;
}



.bloc-tab{
  background-color: #fcfcfc;
  margin-bottom: 15px;
  & h3{
    background-color: #d6d6d6;
    color: #5c8d89;
    padding: 10px;
    font-size: 19px;
  }
}

.acces-rapide{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & a{
    text-decoration: none;
    cursor: pointer;
    color: #5c8d89;
    padding-left: 25px;
    font-size: 18px;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}



.form-control-back {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-label-back > label {

    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.form-Setting{
  margin-top : 20px;
}


.table-head{
  background-color: rgba( 0, 0, 0, .1 );
  height: 50px;

}
.section-table{
  margin: 15px;
}
.table{
  border-collapse:collapse;
  & th{
    padding-left: 15px;
  }
  & td{
    padding-left: 15px;
  }
}
