// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#avatar{
  height: 80%;
  width: 80%;
  background: $white;
  @include max-tablet{
    height: 80%;
    width: 100%;
  }
  @include max-mobile{
    height: 100%;
  }
}

#approach{
  height: 100%;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#approche .section{
  background-color: $color2;
}

#latest-news{
  width: 100%;
  background-color: $color4;
  text-align: center;
}

#latest-news .button .fa {
    margin-right: 12px;
}

.leaffy-blog-post{
  margin-top: 30px;
  min-height: 540px;
}
.post {
  width: 100%;
  background-color: #fff;
  padding-bottom: 40px;
  text-align: left;
  min-height: 610px;
}

.post-image {
  width: 100%;
  height: 213px;
  @include background-cover;
  margin-bottom: 37px;
}
.post-title {
  width: 100%;
  padding: 0 30px;
  color: #5e5e5e;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  display: block;
}
.post-entry {
    margin: 40px 0 55px;
    padding: 0 30px;
    line-height: 26px;
    color: #8c9597;
    font-size: 16px;
    min-height: 110px
}


.dot-group{
  text-align: center;
}
.section-contact{
  @include max-tablet{
    padding: 10px;
  }
}
#contact-us .section-contact{
  background-color: $color2;
}

#contact-us label {
    width: 100%;
}

#contact-us .section-content .form {
    width: 100%;
    text-align: left;
}

#contact-us .section-content .form .form-textarea {
    width: 100%;
    height: 217px;
    background-color: #fcfcfc;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
    display: block;
    color: $color4;
    font-weight: 400;
    font-family: $fontLato;
    font-size: 16px;
}

#contact-us .section-content .form .form-text {
    width: 100%;
    height: 35px;
    background-color: #fcfcfc;
    padding: 0 20px;
    border: 1px solid #e1e1e1;
    font-family: $fontLato;
    font-size: 16px;
    color: $color4;
    display: block;
    font-weight: 400;
    line-height: 25px;
}

.form label{
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
