@import 'abstracts/variables';
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/fonts";
@import 'base/typography';
@import "base/global";


@import "layout/grid";
@import 'layout/header';
@import 'layout/footer';

@import "components/button";
@import "components/image-banner";
@import "components/section";
@import "components/menu-back";
@import "components/menu-front";

@import "components/form-back";
@import "components/form-front";
@import "components/slider-testimonial";
@import "components/anchor";
@import "components/blog";

@import 'pages/home-front';
@import 'pages/home-back';
@import 'pages/login-front';
