// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


#footer{
  width: 100%;
  background-color: $color4;
  padding: 20px 0 0 0;
  text-align: center;
  color: $white;
}

#footer p{
  margin-top: 0px;
}
.bottom-footer .copyright{
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
  padding-bottom: 3px;
  @include max-tablet{
    flex-direction: column;
  }
}

.footer-link{
  font-weight: bold;
  margin-bottom: 10px;
}
