/**
 * Grid system
 */

$columns: 12;
@for $i from 1 through $columns {
.col-#{$i} {
  width: ((100 / $columns) * $i) * 1%;
  padding: 0px 1%;
  }
}

$columns: 12;
@for $i from 1 through $columns {
.col-offset-#{$i} {
  margin-left: ((100 / $columns) * $i) * 1%;
  }
}

.container{
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  @include desktop{
    width: $large-container-width;
  }
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px -1%;
}

@media (min-width: $small) {
  @for $i from 1 through $columns {
  .col-sm-#{$i} {
    width: ((100 / $columns) * $i) * 1%;
    padding: 0px 1%;
    }
  }
  @for $i from 0 through $columnsOff {
  .col-sm-offset-#{$i} {
    margin-left: ((100 / $columnsOff) * $i) * 1%;
    }
  }
}

@media (min-width: $medium) {
  @for $i from 1 through $columns {
  .col-md-#{$i} {
    width: ((100 / $columns) * $i) * 1%;
    padding: 0px 1%;
    }
  }
  @for $i from 0 through $columnsOff {
  .col-md-offset-#{$i} {
    margin-left: ((100 / $columnsOff) * $i) * 1%;
    }
  }
}

@media (min-width: $large) {
  @for $i from 1 through $columns {
  .col-lg-#{$i} {
    width: ((100 / $columns) * $i) * 1%;
    padding: 0px 1%;
    }
  }
  @for $i from 0 through $columnsOff {
  .col-lg-offset-#{$i} {
    margin-left: ((100 / $columnsOff) * $i) * 1%;
    }
  }
}

.d-flex{
  display: flex;
}
.justify-content-end{
  justify-content: flex-end;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}

.margin-auto{
  margin: auto;
}

.mt-20{
  margin-top: 20px;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.part-1-header-back{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include max-mobile{
    width:100%;
  }
}
.part-2-header-back{
    display: flex;
    align-items: center;
    justify-content: center;
}
.part-3-header-back{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include max-mobile{
  width:100%;
  }
}

.container-back{
  display: flex;
  flex-direction: row;
  min-height: 90vh;
}
