/**
 * Header
 */

#header-home.header-front-page {
  width: 100%;
  background-image: url(../img/cover_main.jpg);
  background-attachment: fixed;
  @include background-cover;
}

#header.header-front-page {
  width: 100%;
  background-color: $color4;
}
.header-logo-img{
  margin-left: 15px;
}

#menu-main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & a{
    color: $white;
    font-weight: bold;
  }
}

#header-home .bottom-header {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 280px;
    text-align: center;
    & h1{
      color: $white;
      margin: 0 0 29px;
      line-height: 84px;
      font-weight: 700;
      font-size: 60px;
    }
    & h2{
      color: $white;
      margin: 0 0 29px;
      line-height: 84px;
      font-weight: 700;
      font-size: 48px;
    }
}

.header-navigation{
  @include max-tablet{
    display: none;
  }
}
.menu-responsive{
  display: none;
}
.menu-responsive{
  @include max-tablet{
    display: flex;
    justify-content: flex-end;
  }
  & img{

  }
  & .burger-img{
    margin-right: 15px;
  }
}
.logo-back .burger-img{
  display: none;
}
.logo-back .burger-img{
  @include max-tablet{
    display: flex;
    justify-content: flex-end;
  }
}
.back-header-logo-img{
  @include max-tablet{
    display: none;
  }
}
.sticky{
    background-color: rgba(0, 0, 0, 0.5);
}

.sticky .header-logo-img{
  transform: scale(0.9,0.9) translateY(-50%);
  transform-origin: left top;
}
.sticky nav{
  transform: scale(0.9,0.9);
  transform-origin: right center;
}
